@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #23252c;
  font-family: "Roboto", sans-serif;
}

.App {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.container {
  background-color: #1a1b21;
  width: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 2%);
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
}
